body {
  text-align: center;
  padding-top: 10%;
  font-family: 'Permanent Marker', cursive;
}

.app h1 {
  font-size: 3em;
}

/* Credits */
/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
